html , body {
    height: 100%;
    margin: 0;
    padding: 0;

}


body,
.footer
{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
/* General styling for all screens*/


h1 {
    font-family:'courier new',monospace;
	
	margin: 0;
	font-weight: 600px;
	line-height: 55px;
	text-transform: uppercase;
}

ul{
    font-weight: 700;
    line-height: 90px;
    
}

header{
    padding: 0% 0% 10% 0%;

    background-image: url(../images/background.PNG);
    background-size: cover;
   
}


.name-title {
    float: right;
}

#about{
    background-color: #c53838;
    color: white;
}


.img-back{
    background-color: #F0EAD6;

}


.footer {
    font-size: .70em;
      text-align: center;
      background-color: #666666;
      clear: both;
      height : 10%;
      width: 100%;
      color: #a59c9c;
      position: fixed;
      left: 0;
       bottom: 0;
      width: 100%;  
  text-align: center;
     }
      





.ov-container {
    height: 100%;
    padding-bottom: 50px; 
    width: 100%;
    
}

.main-section{
 
    
    color: rgb(26, 22, 22);
    
}

.sect {
    border: solid 2px red; 
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
 
 
  border-radius: 0% 0% 5% 5% ;


}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.git{
    padding: 0% 0% 0% 50%;
}


#portfolio{
    
    background-size: cover;
   
}

#bio-image{
    width: 300px;
    height: 300px;
    float: left;
    padding: 15px 15px;
    border-radius: 50%;
    filter: grayscale(75%);
}

#bio-image:hover{
    filter: grayscale(0%);
    cursor:pointer;
         margin-top: 5px;
}

#submit{
    background-color: #4aaaa5;
    color: white;
}

.card-row{
   
    padding: 10px;
}

#contact{
    padding: 50px 0px 200px  0px;
    border: 2px red color;
}

/* Styling for screens with a width of 768px */

 @media screen and (min-width: 768px) {
      
   
    
    
   
    
  
    
   

}



/* Styling for screens with a width of 980px */
 
@media screen and (min-width: 980px) {

    
} 

